{% extends "template.html" %}
{% block title %}{% endblock %}
{% block body %}
<h1> Welcome to Northpoint's Story Thingie </h1>

<form action="/login">
  <input type="image" src="http://www.clker.com/cliparts/W/N/3/S/7/v/login-button-hi.png" alt="Login" width="480" height="240">
</form>
  
<form action="/register">
  <input type="image" src="http://lifecyclesproject.ca/app/uploads/2018/06/simple-gray-register-button-three-hi-300x167.png" alt="Register" width="480" height="240">
</form>
  
  {% endblock %}
