{% extends "template.html" %}
{% block title %}Register!{% endblock %}
{% block body %}

<br>

<center>
  <h1> Register an account! </h1>
  
  <form action="/create_account" method="POST">
    Enter a username: <input type="text" name="new_username"> <br><br>
    Enter a password: <input type="password" name="new_pass"> <br>
    Confirm password: <input type="password" name="confirm_pass"> <br><br>

    <button type="submit">Register</button>
  </form>

  <br>
  
  <form action="/">
    <button type="submit">Go back</button>
  </form>

</center>

{% endblock %}
