{% extends "template.html" %}

{% block title %} | {{ title }} {% endblock %}
{% block head %} <h1> <u>{{ title }}</u> by {{ author }} </h1>{% endblock %}


{% block body %}

{% if not edited_status %}
<b> <i> Latest addition: </i> </b> <br>
{% endif %}

{% for line in content %}
{{ line }} <br>
{% endfor %}

{% if not edited_status %}
<br>
Type your addition to this story here:
<form action="/edit_story">
  <textarea rows="10" cols="100" name="story_content"></textarea>
  <input type="hidden" name="story_title" value="{{ title }}"> <br>
  <button type="submit">Submit edit</button>
</form>

{% endif %}

<br> <br>

<a href="/login">Go back</a>

{% endblock %}
