<!-- Mohtasim Howlader
SoftDev1 pd8
K10 -- Jinja Tuning
2018-09-24 -->

<html>
    <head>
        <title>Occupations in the United States</title>
    </head>
    <body>

        <h1>Occupations in the United States</h1>

        <h4> Table of Job Classes and the percentage of the U.S workforce it comprises. </h3>

        <p>Randomly Selected Occupation: <b> {{occVal}} </b> </p>


        <table style="border:1px solid black; padding:15px; border-spacing:10px; margin-left:auto; margin-right:auto">
            <tr>
                <th> <b> Job Class </b>  </th>
                <th> <b> Percentage </b> </th>
            </tr>
            {% for key, value in dict.items() %}
                <tr>
                    <td> {{key}} </td>
                    <td> {{value}}% </td>
                </tr>
            {% endfor %}
            <tr>
                <td><b> Total </b></td>
                <td><b> 99.8% </b></td>
            </tr>

        </table>
    </body>
</html>
